.receipts-display-table{
  flex-basis: 73%;
  margin-right: 10px;
  margin-right: 10px;
}

.receipts-display-table > table{
  font-size: 13px !important;
}

thead > tr > th:nth-child(1){
  width: 20%;
}

.table-hover{
  margin: 0 auto;
}

table{
  /* -webkit-text-stroke: 0.3px black; */
  width: 100%;
  margin: 10px auto;
  backdrop-filter: blur(100px);
  color: white;
  font-weight: bold;
  text-align: center;
  table-layout:fixed;
  border: 1px solid white;
}

th{
  max-width:100%;
  white-space:nowrap;
}

td > img{
  max-width: 35px;
  width: 100%;
  margin-right: 15px;
}

.table-hover td, .table-hover th{
  vertical-align: middle;
  padding: 10px;
}

.coin-list{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.coin-list img, .coin-list span{
  border: none;
}

thead > tr > th:nth-child(1){
  width: 20%;
}

thead > tr > th:nth-child(2){
  text-align: center;
  width: 22%;
}


.image-wrapper > img{
  max-width: 400px;
  width: 100%;
}

.none-available{
  width: 100%;
  margin: 150px auto;
  backdrop-filter: blur(5px);
  color: white;
  font-weight: bolder;
}


