<section class="not-found py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-12 col-md-12 mx-auto">
      <h1 class="fw-light">Oops, something went wrong...</h1>
      <h3 class="fw-light">We're sorry, the page you requested could not be found. Please go back to the homepage
        or contact us at <a class="mail-to" onclick="location.href='mailto:support@cryptomaniabg.com'">
          support@cryptomaniabg.com
        </a>
        </h3>
      <br>
      <a routerLink="" class="btn btn-primary my-2">Return Home</a>
    </div>
  </div>
</section>
