
body {
  margin-bottom: 80px; /* Margin bottom by footer height */
}
.footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  line-height: 40px;
  font-size: 13px;
  background: linear-gradient(
    90deg
    , rgba(133, 117, 255, 1) 32%, rgba(24, 76, 164, 1) 69% );
  color: white;
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
}
