<section *ngIf="operationsForView.length > 0" class="receipts-display-table">
  <table class="table-hover">
    <thead>
    <tr>
      <th scope="col">Date & Time</th>
      <th scope="col">Name</th>
      <th scope="col">Order No</th>
      <th scope="col">Order Type</th>
      <th scope="col">Price</th>
      <th scope="col">STATUS</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let operation of operationsForView;">
      <th scope="row">{{operation.dateTime}}</th>
      <td class="coin-list"><img src="../../../assets/static/img/coins/static/{{operation.coinName}}.png" alt=""><span>{{operation.coinName}} coin</span></td>
      <td>{{operation.orderNumber}}</td>
      <td>{{operation.orderType}}</td>
      <td>BGN {{operation.price}}</td>
      <td>{{operation.status}}</td>
    </tr>
    </tbody>
  </table>
</section>

