<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="navbar-brand" href="#">
      <img src="/assets/static/img/ecf8a64431fe4fc4aadc37346a88af2a (3).png" alt="">
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a *ngIf="!isLogged" class="nav-link" routerLink=""
          >Home<span class="sr-only">(current)</span></a
          >
          <a *ngIf="isLogged" class="nav-link" routerLink="/home"
          >Home<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a *ngIf="!isLogged" class="nav-link" href="#"
          >Products<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a *ngIf="isLogged" class="nav-link" href="#"
          >Marketplace<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a *ngIf="!isLogged" class="nav-link" routerLink="/about-us"
          >About Us<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a *ngIf="isLogged" class="nav-link" href="#"
          >My Crypto Wallet<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a *ngIf="isLogged" class="nav-link" href="#"
          >Receipts<span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <button *ngIf="!isLogged" type="button" class="btn btn-success"><a routerLink="users/login">Login</a></button>
      <button *ngIf="!isLogged" type="button" class="btn btn-primary"><a routerLink="users/register">Register</a></button>
      <button *ngIf="isLogged" type="button" class="btn btn-info"><a (click)="logout()">Logout</a></button>
    </div>
  </nav>
</header>
