<table class="table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">24hrs change %</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td class="coin-list"><img src="../../../assets/static/img/coins/static/Bacho.png" alt=""><span>Bacho coin</span></td>
    <td class="text-success">+15%</td>
    <td class="text-success">BGN 1.15</td>
    <td><button type="button" class="btn btn-success">Buy Now</button></td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td class="coin-list"><img src="../../../assets/static/img/coins/static/Bacho.png" alt=""><span>Bacho coin</span></td>
    <td class="text-success">+15%</td>
    <td class="text-success">BGN 1.15</td>
    <td><button type="button" class="btn btn-success">Buy Now</button></td>
  </tr>
  <tr>
    <th scope="row">1</th>
    <td class="coin-list"><img src="../../../assets/static/img/coins/static/Bacho.png" alt=""><span>Bacho coin</span></td>
    <td class="text-success">+15%</td>
    <td class="text-success">BGN 1.15</td>
    <td><button type="button" class="btn btn-success">Buy Now</button></td>
  </tr>
  </tbody>
</table>
