.developers{
  color: white;
}

.developers-row{
  display: flex;
  flex-direction: row;
}

.developer-row-item img{
  width:  200px;
  height: 200px;
  background-size: cover;
  object-fit:fill;
}

#dialogWindow{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: transparent;
  border:none;
  overflow: no-display;
  text-align: center;
  /*background-color: rgb(0,0,0); !* Fallback color *!*/
  /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}

.modal-content{
  /*background-color: #fefefe;*/
  margin: 150px auto;
  padding: 20px;
  width: 35%;
}

.error-wrapper{
  backdrop-filter: blur(2px);
}
