<section class="error-wrapper">
  <section class="text-center container">
    <div class="developers">
      <div class="col-lg-12 col-md-12 mx-auto">
        <h1 class="fw-light">Oops, something went wrong...</h1>
        <h2 class="lead">One of our Development team must be punished for this unacceptable
          failure!</h2>
        <h3 class="lead">PICK ONE TO FIRE!</h3>
        <br>
        <div class="developers-row">
          <div class="developer-row-item col-md-3 mx-auto">
            <div class="card shadow-sm">
              <img class="container about"
                   src="../../../../assets/static/img/160193356_271855297681973_4584433416317816415_n-removebg-preview.png">

              <div class="card-body">
                <div class="card-body text-center">
                  <a class="btn btn-danger my-2" onclick="fireIvo()">Ivo</a>
                </div>
              </div>
            </div>
          </div>
          <div class="developer-row-item col-md-3 mx-auto">
            <div class="card shadow-sm">
              <img class="container about"
                   src="../../../../assets/static/img/160402942_254419239637919_3092315091983274371_n-removebg-preview.png">

              <div class="card-body">
                <div class="card-body text-center">
                  <a class="btn btn-danger my-2" onclick="fireIvo()">Ivo</a>
                </div>
              </div>
            </div>
          </div>
          <div class="developer-row-item col-md-3 mx-auto">
            <div class=" card shadow-sm">
              <img class="container about"
                   src="../../../../assets/static/img/160236095_780992269500968_5714556347568159454_n-removebg-preview.png">
              <div class="card-body">
                <div class="card-body text-center">
                  <a class="btn btn-danger my-2" onclick="fireIvo()">Ivo</a>
                </div>
              </div>
            </div>
          </div>
          <div class="developer-row-item col-md-3 mx-auto">
            <div class=" card shadow-sm">
              <img class="container about"
                   src="../../../../assets/static/img/160589340_1051037165419144_2570108774550052518_n-removebg-preview.png">

              <div class="card-body">
                <div class="card-body text-center">
                  <a class="btn btn-danger my-2" onclick="fireIvo()">Ivo</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <p class="lead">In a forgiving mood? Let them all keep their jobs.</p>
        <a routerLink="/" class="btn btn-primary my-2">Return Home</a>
      </div>
    </div>
  </section>
  <dialog id="dialogWindow">
    <div class="modal-content">
      <p class="lead text-muted">Our HR department will deal with this immediately, we appreciate your feedback!</p>
      <a class="btn btn-danger my-2" routerLink="/">Return Home</a>
    </div>
  </dialog>
</section>
