<div class="home-wrapper">
  <div
    class="home-wrapper-card flex-md-row mb-4 box-shadow h-md-250"
  >
    <div class="row py-lg-5">
      <div class="about-us col-lg-12 col-md-12 mx-auto">
        <p class="about-us-text lead">CryptoMania Bulgaria EOOD is a brand new cryptocurrency
          exchange platform. The digital currencies that are on offer are 100% fictional and inspired from
          local Bulgarian events and personas.
          Opened in 2021 the exchange is on the quest to make Balkans'
          lives
          better by bringing exciting currencies for which the prices fluctuate daily.</p>
        <button type="button" class="about-us-button btn btn-success" onclick="location.href='mailto:contact@cryptomaniabg.com'">
          <span>Contact Us</span>
          <i class="far fa-envelope"></i>
        </button>
      </div>
    </div>
