.about-us{
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-text{
  backdrop-filter: blur(2px);
  font-size: 22px;
  font-weight: bolder;
  text-align:center;
}

.about-us-button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.about-us-button > span{
  margin-right: 8px;
}

