<div class="home-wrapper">
<div
  class="home-wrapper-card card mb-4 box-shadow h-md-250"
>
  <div
    class="
              card-body
              d-flex
              flex-column
              align-items-center
            "
  >
    <h1 class="heading-center">Congratulations, your Crypto purchase was successful!</h1>
    <h4 class="heading-center">Confirmation on order No: {{orderNumber}}</h4>
    <i class="fas fa-check-circle"></i>
    <ul class="confirmation-menu">
      <li class="confirmation-menu-item">
        <button routerLink="/market" type="button" class="btn btn-primary"><a>Buy More</a></button>
      </li>
      <li class="confirmation-menu-item">
        <button routerLink="/wallet" type="button" class="btn btn-primary"><a>My Crypto</a></button>
      </li>
    </ul>
  </div>
</div>
</div>
