@import url('assets/static/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');


html {
  position: relative;
  min-height: 100%;
}

body{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-bottom: 60px;
}

.not-logged{
  background-image: url('assets/static/img/pierre-borthiry-vBCVcWUyvyM-unsplash (1).jpg');
}

.logged{
  background-image: url('assets/static/img/digital-world-map-hologram-blue-background.jpg');
}

header{
  position: absolute;
}

main{
  margin: 150px auto;
}

