.login-register-wrapper{
  margin: 25px auto 0 auto;
  /*margin: 70px auto 0 auto;*/
}


.login-register{
  background: transparent !important;
  backdrop-filter: blur(100px);
  color: white;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  table-layout:fixed;
  border: 1px solid white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.checkout-cart{
  width: 35%;
}

.checkout-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-form > form > div:nth-child(2){
  justify-content: center;
}

.checkout-form ::placeholder{
  text-align: center;
}

ul.list-group > li{
  align-items: center;
}

li.list-group-item > div:nth-child(1){
  display: flex;
  color: black;
  flex-direction: column;
  align-items: flex-start;
}

li.list-group-item > span, li.list-group-item > strong{
  color: black;
}

hr{
  background-color: white;
}

.login-register-flex{
  display: flex;
  flex-direction: column;
}

.message{
  font-size: 13px;
}

.form-signin input, .form-signin button{
  margin-bottom: 5px;
}

label{
  font-size: 13px;
}
small.bg-danger{
max-width: 220px;
margin-bottom: 10px;
}

p.message:first-of-type{
  margin-bottom: 5px;
}

#inputPassword{
  z-index: 1;
}

/*toggle*/
/*.popup {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  cursor: pointer;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/

/*!* The actual popup *!*/
/*.popup .popuptext {*/
/*  visibility: hidden;*/
/*  width: 160px;*/
/*  background-color: #555;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*  border-radius: 6px;*/
/*  padding: 8px 0;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  bottom: 125%;*/
/*  left: 50%;*/
/*  margin-left: -80px;*/
/*}*/

/*!* Popup arrow *!*/
/*.popup .popuptext::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 100%;*/
/*  left: 50%;*/
/*  margin-left: -5px;*/
/*  border-width: 5px;*/
/*  border-style: solid;*/
/*  border-color: #555 transparent transparent transparent;*/
/*}*/

/*!* Toggle this class - hide and show the popup *!*/
/*.popup .show {*/
/*  visibility: visible;*/
/*  -webkit-animation: fadeIn 1s;*/
/*  animation: fadeIn 1s;*/
/*}*/

/*!* Add animation (fade in the popup) *!*/
/*@-webkit-keyframes fadeIn {*/
/*  from {opacity: 0;}*/
/*  to {opacity: 1;}*/
/*}*/

/*@keyframes fadeIn {*/
/*  from {opacity: 0;}*/
/*  to {opacity:1 ;}*/
/*}*/

app-popover{
  position: relative;
}
