<section class="login-register-wrapper">
  <section class="login-register">

    <form #f="ngForm"
          (submit)="f.form.valid && sendRegisterRequest()"
          class="form-signin login-register-flex">
      <img src="/assets/static/img/ecf8a64431fe4fc4aadc37346a88af2a (3).png" alt="" />
      <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
      <!-- <label for="email">Email address</label> -->
      <small *ngIf="existingEmail"
             class="form-text bg-danger rounded">
        There is already a user with this email address, please use another one</small>
      <small *ngIf="invalidInput"
             class="form-text bg-danger rounded">
        You cannot register with invalid data</small>
      <input
        type="email"
        name="email"
        [(ngModel)]="model.email"
        #email="ngModel"
        [ngClass]="{'is-invalid input-validation-error' : f.submitted && email.invalid}"
        class="form-control"
        placeholder="Email address"
        email
        required
        autofocus
      />
      <div *ngIf="(f.submitted && email.invalid) || email.touched">
        <small *ngIf="email.errors?.required || email.errors?.email"
               class="form-text bg-danger rounded">
          Please provide a valid email</small>
      </div>
      <!-- <label for="password">Password</label> -->
      <input
        type="password"
        name="password"
        [(ngModel)]="model.password"
        #password="ngModel"
        [ngClass]="{'is-invalid input-validation-error' : f.submitted && password.invalid}"
        (change)="checkPasswordsMatch()"
        class="form-control"
        placeholder="Password"
        pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@!#$%^&+=])(?=\S+$).{8,}"
        required
      />
      <div *ngIf="(f.submitted && password.invalid) || password.touched">
        <small *ngIf="(password.errors?.required || password.errors?.pattern)
        && (!existingEmail && !notOldEnough)"
               class="text-light form-text bg-danger rounded">
          Password must be at least 8 characters long, including: 1 uppercase, 1 lowercase, 1 number, 1 special character</small>
      </div>
      <!-- <label for="confirmPassword">Confirm password</label> -->
      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="model.confirmPassword"
        #confirmPassword="ngModel"
        [ngClass]="{'is-invalid input-validation-error' : f.submitted && confirmPassword.invalid}"
        (change)="checkPasswordsMatch()"
        class="form-control"
        placeholder="Confirm password"
        pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@!#$%^&+=])(?=\S+$).{8,}"
        required
      />
      <div *ngIf="(f.submitted && confirmPassword.invalid) || confirmPassword.touched">
        <small *ngIf="(confirmPassword.errors?.required || confirmPassword.errors?.pattern)
        && (!existingEmail && !notOldEnough)"
               class="text-light form-text bg-danger rounded">
          Password must be at least 8 characters long, including: 1 uppercase, 1 lowercase, 1 number, 1 special character</small>
      </div>
        <small *ngIf="passwordsDoNotMatch"
               class="text-light form-text bg-danger rounded">
          Passwords do not match
        </small>
      <label for="dateOfBirth">Date of birth</label>
      <input
        type="date"
        id="dateOfBirth"
        name="dateOfBirth"
        [(ngModel)]="model.dateOfBirth"
        #dateOfBirth="ngModel"
        [ngClass]="{'is-invalid input-validation-error' : f.submitted && dateOfBirth.invalid}"
        class="form-control"
        required
      />
      <div *ngIf="(f.submitted && dateOfBirth.invalid) || dateOfBirth.touched || notOldEnough">
        <small *ngIf="dateOfBirth.errors?.required"
               class="text-light form-text bg-danger rounded">
          Date of birth field cannot be empty</small>
        <small *ngIf="notOldEnough"
               class="text-light form-text bg-danger rounded">
          You must be at least 18 years old to register</small>
      </div>
      <p class="message">Already registered?
        <a [routerLink]="['../login']">Login</a></p>
      <button class="btn btn-lg btn-success btn-block" type="submit">
        Register
      </button>
    </form>
  </section>
</section>
