<div class="home-wrapper">
  <div
    class="home-wrapper-card card flex-md-row mb-4 box-shadow h-md-250"
  >
    <div
      class="
              home-wrapper-card-desc
              card-body
              d-flex
              flex-column
              align-items-start
            "
    >
      <img src="/assets/static/img/sign.png" alt="" />
      <h4 class="display-6 font-italic">
        Where Crypto meets the Balkans
      </h4>
      <p class="card-text mb-auto">
        The place where Bulgarians and people from all over the Balkans
        can trade local cryptocurrencies at affordable Slav prices
      </p>
      <button type="button" class="btn btn-primary">
        <a routerLink="/about-us">About Us</a>
      </button>
    </div>
    <img
      class="
              home-wrapper-card-img
              card-img-right
              flex-auto
              d-none d-md-block
            "
      src="/assets/static/img/home-coins.png"
      alt="Card image cap"
    />
  </div>
</div>
